extends layout

block content
  h1= title
  p Welcome to Listing View

  a(href="/kittens/create")
   button(type="button") create new record
  br
  br
  br
  h1 Kittens : 
  p -----------------------------------------------------------------
  each item in kittens
    div(class='record_div' id=`${item.id}`)
      p Id : #{item.id}
      p Name : #{item.name}
      p Age : #{item.age}
      p
        a(href=`/kittens/${index}`) Edit
      p
        button(type="button" class="user_delete" id=`${index}`) Delete
      p -----------------------------------------------------------------
  block footer
    script(type='text/javascript' src='/javascripts/jquery-3.3.1.min.js')
    script(type='text/javascript' src='/javascripts/functions.js')